#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 50px;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;

}

#contact {
    width: 50%;
    margin: auto;
}

#contact>* {
    text-align: center;

}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

.Home {
    .categories {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 30px;

        button {
            border-radius: 60px;
            border: 2px solid #1D6154;
            color: #1D6154;
            text-align: center;
            font-family: Syne;
            font-size: 16px;
            font-weight: 700;
            background-color: #fff;
            padding: 10px 20px;
            transition: 0.5s;

            &:hover {
                background-color: #1D6154;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}